<html>
<body>
	<div th:fragment="topo(user)"
		class="d-flex justify-content-between p-3 mb-2 bg-primary text-white">
		Olá, [[${user.name}]]
		<div>
		<a href="/upload/form"> 
				<button type="button" class="btn btn-sm btn-outline-light">Transações</button>
			</a>
		<a href="/user/list"> 
				<button type="button" class="btn btn-sm btn-outline-light">Gerenciar Usuários</button>
			</a>
			<a href="/logout"> 
				<button type="button" class="btn btn-sm btn-outline-light">Logout</button>
			</a>
		</div>
	</div>

</body>
</html>
